<!-- templates/lista-persona-partial -->
<div class="panel panel-default">
    <div class="panel-heading">Listado de personas</div>
    <div class="panel-body">
        <input placeholder="Atributo" type="text" id="atributo" name="atributo"  ng-model="atributo"/>
        <a  role="button" class="btn btn-default" ng-click="buscarContactos()">Buscar</a>
        <a  role="button" class="btn btn-default" ng-click="limpiarCriterios()">Limpiar</a>
        </br>
        </br>
        <table class="table table-striped">
            <thead>
            <tr>
                <td class=filter><input size="10" placeholder="Nombre" ng-model="filtrar.nombre" /></td>
                <td class=filter><input size="10" placeholder="Apellido" ng-model="filtrar.apellido" /></td>
                <td class=filter><input size="10" placeholder="Alias" ng-model="filtrar.alias" /></td>
                <td class=filter><input size="10" placeholder="Telefono" ng-model="filtrar.telefono" /></td>
                <td class=filter><input size="18" placeholder="Email" ng-model="filtrar.email" /></td>
                <td class=filter><input size="12" placeholder="Direccion" ng-model="filtrar.direccion" /></td>
             </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Alias</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Modificación</th>
                    <th>Acciones</th>


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.list | filter:filtrar:strict">
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.alias }}</td>
                    <td>{{item.telefono }}</td>
                    <td>{{item.email }}</td>
                    <td>{{item.direccion }}</td>
                    <td>{{item.fechacreacion | date:'dd-MM-yyyy HH-ss'}}</td>
                    <td>{{item.fechamodificacion | date:'dd-MM-yyyy HH-ss'}}</td>

                    <td><a role="button" class="glyphicon glyphicon-eye-open" ng-click="verContacto(item)" ></a>
                    <a role="button" class="glyphicon glyphicon-edit" ng-click="editarContacto(item)" ></a>
                    <a role="button" class="glyphicon glyphicon-trash" ng-click="borrarContacto(item)"></a></td>

                </tr>
            </tbody>
        </table>

        <pagination total-items="total" ng-model="currentPage" ng-change="buscarContactos()"
                    max-size="5" boundary-links="true"
                    items-per-page="numPerPage" class="pagination-sm">
        </pagination>
    </div>
</div>
<!-- Fin templates/lista-persona-partial -->
